@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main header h1 {
  font-family: 'Lato', sans-serif;
  text-decoration: overline;
}

.main header .inputForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 200px;
  width: 400px;
  height: 40px;
  border: 2px solid #0BBFBD;
  border-radius: 25px;
  color: #C0B1B6;
}

.main header .inputForm input {
  height: 25px;
  margin-top: 7px;
  margin-left: 10px;
  border: none;
}

.main header .inputForm .no-outline {
  width: 80%;
  border: none;
}

.main header .inputForm .no-outline:focus {
  outline: none;
}

.main header .inputForm button {
  width: 80px;
  margin-left: 55px;
  border-radius: 0px 25px 25px 0px;
  background-color: #0BBFBD;
  border: none;
  color: #fff;
}

.main header .inputForm .fa-search {
  font-size: 18px;
}

.main header .callForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main header .callForm .callImg {
  margin-left: 50px;
  margin-right: 8px;
  margin-top: 16px;
}

.main header .callForm .call p {
  margin-top: 20px;
  margin-bottom: 0px;
}

.main header .callForm .call h5 {
  margin-top: 0px;
}

.main header .navBar {
  margin-left: 45px;
  margin-top: 12px;
}

.main header .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main header .navBar ul li {
  list-style: none;
}

.main header .navBar ul li a {
  margin-right: 23px;
  text-decoration: none;
  color: #000;
}

.main header .navBar hr {
  margin-right: 35px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 0px;
  width: 12px;
}

.main hr {
  width: 100%;
  background-color: #EBEBEB;
}

.main .lineBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
}

.main .lineBox .home {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  margin-right: 40px;
  color: #0BBFBD;
  cursor: pointer;
  text-decoration: underline;
}

.main .lineBox .drugs {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 40px;
  cursor: pointer;
}

.main .lineBox .drugs:hover {
  text-decoration: underline;
  color: #0BBFBD;
}

.main .lineBox .vitamins {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 40px;
  cursor: pointer;
}

.main .lineBox .vitamins:hover {
  text-decoration: underline;
  color: #0BBFBD;
}

.main .lineBox .herbs {
  position: relative;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 40px;
  cursor: pointer;
}

.main .lineBox .herbs:hover {
  text-decoration: underline;
  color: #0BBFBD;
}

.main .lineBox .about {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 40px;
  cursor: pointer;
}

.main .lineBox .about:hover {
  text-decoration: underline;
  color: #0BBFBD;
}

.main .lineBox .contact {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 15px;
  margin-right: 40px;
  cursor: pointer;
}

.main .lineBox .contact:hover {
  text-decoration: underline;
  color: #0BBFBD;
}

.main .lineBox .iconBar {
  margin-left: 245.5px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .lineBox .iconBar .random {
  cursor: pointer;
}

.main .lineBox .iconBar .random .fa-random {
  margin-right: 35px;
  font-size: 20px;
  position: relative;
}

.main .lineBox .iconBar .random .num0 {
  font-size: 13px;
  top: 130px;
  margin-left: 16px;
  text-align: center;
  width: 1.1%;
  background-color: #EF1E1E;
  position: absolute;
  color: #fff;
  border-radius: 1rem;
}

.main .lineBox .iconBar .heart {
  cursor: pointer;
}

.main .lineBox .iconBar .heart .fa-heart {
  margin-right: 35px;
  font-size: 20px;
  position: relative;
}

.main .lineBox .iconBar .heart .num00 {
  font-size: 13px;
  top: 130px;
  margin-left: 15px;
  text-align: center;
  width: 1.1%;
  background-color: #EF1E1E;
  position: absolute;
  color: #fff;
  border-radius: 1rem;
}

.main .lineBox .iconBar .shopping {
  cursor: pointer;
}

.main .lineBox .iconBar .shopping .fa-shopping-bag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  font-size: 20px;
  position: relative;
}

.main .lineBox .iconBar .shopping .fa-shopping-bag .sum {
  margin-left: 18px;
  font-size: 20px;
}

.main .lineBox .iconBar .shopping .num000 {
  top: 130px;
  font-size: 13px;
  margin-left: 15px;
  text-align: center;
  width: 1.1%;
  background-color: #EF1E1E;
  position: absolute;
  color: #fff;
  border-radius: 1rem;
}

.main .lineBox .iconBar .shopping:hover {
  color: #0BBFBD;
}

.main .page1 {
  margin-bottom: 30px;
}

.main .page1 .slider {
  width: 1300px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.main .page1 .slider .slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page1 .slider .slides input {
  display: none;
}

.main .page1 .slider .slides .slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.main .page1 .slider .slides .slide img {
  width: 1300px;
  height: 500px;
}

.main .page1 .slider .navigation-manual {
  position: absolute;
  width: 1300px;
  margin-top: -60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .page1 .slider .navigation-manual .manual-btn {
  border: 3px solid #D0D3D4;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.main .page1 .slider .navigation-manual .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.main .page1 .slider .navigation-manual .manual-btn:hover {
  background: #D0D3D4;
}

.main .page1 .slider #radio1:checked ~ .first {
  margin-left: 0;
}

.main .page1 .slider #radio2:checked ~ .first {
  margin-left: -20%;
}

.main .page1 .slider #radio3:checked ~ .first {
  margin-left: -40%;
}

.main .page2 {
  margin-bottom: 15px;
}

.main .page2 .content-line {
  width: 98%;
  border: 1px solid #e3e3e3;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.main .page2 .content-line .shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .content-line .shipping .shipping-car {
  margin-top: 40px;
  margin-left: 25px;
  font-size: 35px;
  color: #0BBFBD;
}

.main .page2 .content-line .shipping .free-shipping {
  margin-top: 10px;
  margin-left: 13px;
}

.main .page2 .content-line .shipping .free-shipping h5 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 22px;
  color: #253237;
}

.main .page2 .content-line .shipping .free-shipping p {
  line-height: 20px;
  font-size: 13px;
  margin-top: 0px;
  color: #666;
}

.main .page2 .content-line .returns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .content-line .returns .exchange {
  font-size: 35px;
  color: #0BBFBD;
  margin-top: 40px;
}

.main .page2 .content-line .returns .exchange-free {
  margin-top: 10px;
  margin-left: 13px;
}

.main .page2 .content-line .returns .exchange-free h5 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 22px;
  color: #253237;
}

.main .page2 .content-line .returns .exchange-free p {
  line-height: 20px;
  font-size: 13px;
  margin-top: 0px;
  color: #666;
}

.main .page2 .content-line .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .content-line .payment .payment-icon {
  margin-top: 40px;
  font-size: 35px;
  color: #0BBFBD;
}

.main .page2 .content-line .payment .payment-secure {
  margin-top: 10px;
  margin-left: 13px;
}

.main .page2 .content-line .payment .payment-secure h5 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 22px;
  color: #253237;
}

.main .page2 .content-line .payment .payment-secure p {
  line-height: 20px;
  font-size: 13px;
  margin-top: 0px;
  color: #666;
}

.main .page2 .content-line .support {
  margin-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page2 .content-line .support .support-icon {
  margin-top: 40px;
  font-size: 35px;
  color: #0BBFBD;
}

.main .page2 .content-line .support .support24 {
  margin-top: 10px;
  margin-left: 13px;
}

.main .page2 .content-line .support .support24 h5 {
  font-size: 16px;
  margin-bottom: 3px;
  line-height: 22px;
  color: #253237;
}

.main .page2 .content-line .support .support24 p {
  line-height: 20px;
  font-size: 13px;
  margin-top: 0px;
  color: #666;
}

.main .page3 .products {
  margin-bottom: 50px;
}

.main .page3 .products h1 {
  margin-top: 80px;
  margin-bottom: 15px;
}

.main .page3 .products .productBox {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page3 .products .productBox .pBoxes {
  cursor: pointer;
  position: relative;
  border: 1px solid #e3e3e3;
  width: 23%;
  opacity: 1;
}

.main .page3 .products .productBox .pBoxes .imgForm {
  margin-left: 30px;
  margin-right: 28px;
}

.main .page3 .products .productBox .pBoxes .textForm p {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  cursor: pointer;
}

.main .page3 .products .productBox .pBoxes .textForm p:hover {
  color: black;
}

.main .page3 .products .productBox .pBoxes .textForm h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700px;
  line-height: 18px;
  cursor: pointer;
  color: #253237;
}

.main .page3 .products .productBox .pBoxes .textForm h1:hover {
  color: #0BBFBD;
}

.main .page3 .products .productBox .pBoxes .textForm .starIcons .fas {
  margin: 0px;
  font-size: 11px;
  color: #FDD835;
}

.main .page3 .products .productBox .pBoxes .textForm .sellingProducts {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page3 .products .productBox .pBoxes .textForm .sellingProducts .pLast {
  margin-left: 55px;
  color: #9b9b9b;
  text-decoration: line-through;
  margin-right: 8px;
  font-size: 16px;
}

.main .page3 .products .productBox .pBoxes .textForm .sellingProducts .pExact {
  color: #cf2929;
  margin-right: 8px;
  font-size: 16px;
}

.main .page3 .products .productBox .pBoxes .textForm .sellingProducts .pPrice {
  text-align: center;
  vertical-align: top;
  background-color: #cf2929;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 4px;
  font-weight: 700;
  padding-top: 3px;
}

.main .page3 .products .productBox .pBoxes button {
  margin-bottom: 15px;
  margin-left: 70px;
  padding: 8px 14px;
  color: #fff;
  background-color: #253237;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main .page3 .products .productBox .pBoxes button:hover {
  background-color: #0BBFBD;
}

.main .page3 .products .productBox .pBoxes .icons-Bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .heart {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ECF0F1;
  margin-right: 20px;
  border-radius: 50%;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .heart .far {
  font-size: 20px;
  margin-top: 6px;
  margin-left: 5px;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .heart:hover {
  background-color: #000;
  color: #fff;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .random {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ECF0F1;
  margin-right: 20px;
  border-radius: 50%;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .random .fas {
  padding-left: 6px;
  margin-top: 6px;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .random:hover {
  background-color: #000;
  color: #fff;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .search {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #ECF0F1;
  margin-right: 20px;
  border-radius: 50%;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .search .fas {
  padding-left: 6px;
  margin-top: 6px;
}

.main .page3 .products .productBox .pBoxes .icons-Bar .search:hover {
  background-color: #000;
  color: #fff;
}

.main .page3 .products .productBox .pBoxes:hover .icons-Bar {
  opacity: 1;
}

.main .page4 {
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page4 .imgFirst img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main .page4 .imgSecond img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main .page5 {
  margin-bottom: 100px;
}

.main .page5 .hot-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .hotDeals {
  width: 60%;
  margin-right: 20px;
}

.main .page5 .hot-best .hotDeals .textForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .hotDeals .textForm .icons {
  margin-left: 550px;
  font-size: 22px;
  margin-top: 32px;
  color: #253237;
}

.main .page5 .hot-best .hotDeals .textForm .icons .fa-chevron-circle-left:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .hotDeals .textForm .icons .fa-chevron-circle-right:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .hotDeals .realForm {
  border: 2px solid #0BBFBD;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .hotDeals .realForm .ImgForm {
  margin-left: 20px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom {
  cursor: pointer;
  display: block;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom p {
  margin-top: 25px;
  margin-left: 200px;
  color: #999;
  font-size: 16px;
  text-transform: uppercase;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom p:hover {
  color: #253237;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom h1 {
  margin-left: 80px;
  line-height: 24px;
  margin-bottom: 15px;
  font-size: 20px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom h1:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom .starIcons {
  margin-left: 125px;
  color: #FDD835;
  line-height: 24px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom .sellingProducts {
  line-height: 24px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom .sellingProducts .pLast {
  text-decoration: line-through;
  margin-left: 180px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom .sellingProducts .pExact {
  color: #CF292B;
  margin-left: 18px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom .sellingProducts .pPrice {
  margin-left: 18px;
  text-align: center;
  vertical-align: top;
  background-color: #cf2929;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 4px;
  font-weight: 700;
  padding-top: 3px;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom button {
  margin-bottom: 15px;
  margin-left: 210px;
  padding: 12px 18px;
  color: #fff;
  background-color: #253237;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main .page5 .hot-best .hotDeals .realForm .productFrom button:hover {
  background-color: #0BBFBD;
}

.main .page5 .hot-best .bestSeller {
  cursor: pointer;
  width: 38%;
}

.main .page5 .hot-best .bestSeller .textForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .bestSeller .textForm .icons {
  margin-left: 300px;
  font-size: 22px;
  margin-top: 32px;
  color: #253237;
}

.main .page5 .hot-best .bestSeller .textForm .icons .fa-chevron-circle-left:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .bestSeller .textForm .icons .fa-chevron-circle-right:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .bestSeller .realForm {
  border: 1px solid #e3e3e3;
}

.main .page5 .hot-best .bestSeller .realForm .studio {
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .bestSeller .realForm .studio .Img-Content img {
  margin-top: 10px;
  margin-left: 30px;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm {
  margin-left: 22px;
  display: block;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm p {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  margin-bottom: 0px;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm p:hover {
  color: #253237;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm h1 {
  font-size: 14px;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm h1:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm .starIcons {
  font-size: 12px;
  color: #fdd835;
  margin-bottom: 0px;
  line-height: 17px;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm .sellingProducts {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm .sellingProducts .pLast {
  margin-right: 10px;
  text-decoration: line-through;
  font-size: 15px;
}

.main .page5 .hot-best .bestSeller .realForm .studio .textForm .sellingProducts .pExact {
  color: #cf2929;
  font-size: 15px;
}

.main .page5 .hot-best .bestSeller .realForm hr {
  width: 85%;
}

.main .page5 .hot-best .bestSeller .realForm .graphic {
  padding-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .Img-Content img {
  margin-top: 10px;
  margin-left: 30px;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm {
  margin-left: 20px;
  display: block;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm p {
  text-transform: uppercase;
  font-size: 14px;
  color: #999;
  margin-bottom: 0px;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm p:hover {
  color: #253237;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm h1 {
  font-size: 14px;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm h1:hover {
  color: #0BBFBD;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm .starIcons {
  font-size: 12px;
  color: #fdd835;
  margin-bottom: 0px;
  line-height: 17px;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm .sellingProducts {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm .sellingProducts .pLast {
  margin-right: 10px;
  text-decoration: line-through;
  font-size: 15px;
}

.main .page5 .hot-best .bestSeller .realForm .graphic .textForm .sellingProducts .pExact {
  color: #cf2929;
  font-size: 15px;
}

.main .page6 {
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
}

.main .page6 img:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.main .page7 .products {
  margin-bottom: 50px;
}

.main .page7 .products .textBlock {
  font-weight: 500;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page7 .products .textBlock .featured {
  cursor: pointer;
  margin-right: 20px;
  color: #253237;
}

.main .page7 .products .textBlock .onSale {
  cursor: pointer;
  margin-right: 20px;
  color: #A8ADAF;
}

.main .page7 .products .textBlock .onSale:hover {
  color: #253237;
}

.main .page7 .products .textBlock .bestSeller {
  cursor: pointer;
  color: #A8ADAF;
}

.main .page7 .products .textBlock .bestSeller:hover {
  color: #253237;
}

.main .page7 .products .productBox {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page7 .products .productBox .pBoxes {
  border: 1px solid #e3e3e3;
  width: 23%;
}

.main .page7 .products .productBox .pBoxes .imgForm {
  margin-left: 30px;
  margin-right: 28px;
}

.main .page7 .products .productBox .pBoxes .textForm p {
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #999;
  cursor: pointer;
}

.main .page7 .products .productBox .pBoxes .textForm p:hover {
  color: black;
}

.main .page7 .products .productBox .pBoxes .textForm h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700px;
  line-height: 18px;
  cursor: pointer;
  color: #253237;
}

.main .page7 .products .productBox .pBoxes .textForm h1:hover {
  color: #0BBFBD;
}

.main .page7 .products .productBox .pBoxes .textForm .starIcons .fas {
  margin: 0px;
  font-size: 11px;
  color: #FDD835;
}

.main .page7 .products .productBox .pBoxes .textForm .sellingProducts {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page7 .products .productBox .pBoxes .textForm .sellingProducts .pLast {
  margin-left: 55px;
  color: #9b9b9b;
  text-decoration: line-through;
  margin-right: 8px;
  font-size: 16px;
}

.main .page7 .products .productBox .pBoxes .textForm .sellingProducts .pExact {
  color: #cf2929;
  margin-right: 8px;
  font-size: 16px;
}

.main .page7 .products .productBox .pBoxes .textForm .sellingProducts .pPrice {
  text-align: center;
  vertical-align: top;
  background-color: #cf2929;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 0 4px;
  font-weight: 700;
  padding-top: 3px;
}

.main .page7 .products .productBox .pBoxes button {
  margin-bottom: 15px;
  margin-left: 70px;
  padding: 8px 14px;
  color: #fff;
  background-color: #253237;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main .page7 .products .productBox .pBoxes button:hover {
  background-color: #0BBFBD;
}

.main .page8 {
  cursor: pointer;
  margin-bottom: 100px;
}

.main .page8 h1 {
  font-weight: 200px;
}

.main .page8 .degital-M {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page8 .degital-M .digital {
  cursor: pointer;
  margin-right: 30px;
  position: relative;
}

.main .page8 .degital-M .digital .digital-block {
  margin-left: 25px;
  top: 155px;
  position: absolute;
  width: 360px;
  height: 100px;
  background-color: #FFFFFF;
}

.main .page8 .degital-M .digital .digital-block a {
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  margin-left: 130px;
  margin-bottom: 15px;
  line-height: 1;
  color: #B1B1B1;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.main .page8 .degital-M .digital .digital-block a:hover {
  color: #253237;
}

.main .page8 .degital-M .digital .digital-block h4 {
  cursor: pointer;
  margin-left: 50px;
  margin-top: 0;
  font-size: 16px;
  color: #253237;
  text-transform: capitalize;
}

.main .page8 .degital-M .digital .digital-block h4:hover {
  color: #0BBFBD;
}

.main .page8 .degital-M .digital .digital-block button {
  border: none;
  width: 100%;
  height: 50px;
  background-color: #253237;
  color: #fff;
}

.main .page8 .degital-M .digital .digital-block button:hover {
  background-color: #0BBFBD;
}

.main .page9 {
  margin-bottom: 50px;
  border: 0.5px solid #EBEBEB;
  height: 80px;
  border-radius: 5px;
}

.main .page9 img {
  margin-top: 8px;
  margin-right: 50px;
}

.main .page10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main .page10 .one {
  width: 30%;
  background-color: #F6F6F6;
}

.main .page10 .one h1 {
  font-family: 'Lato', sans-serif;
  margin-top: 40px;
  margin-left: 5px;
  font-weight: 700;
}

.main .page10 .one p {
  line-height: 24px;
  font-size: 16px;
  margin-left: 5px;
  color: #666666;
}

.main .page10 .one .callForm {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page10 .one .callForm .callImg {
  margin-top: 25px;
  font-size: 38px;
  margin-left: 5px;
  margin-right: 10px;
  color: #0BBFBE;
}

.main .page10 .one .callForm .call p {
  margin-top: 20px;
  margin-bottom: 3px;
}

.main .page10 .one .callForm .call h5 {
  font-size: 18px;
  margin-top: 0px;
}

.main .page10 .one .social-icons {
  margin-bottom: 60px;
}

.main .page10 .one .social-icons .fab {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}

.main .page10 .one .social-icons .fa-facebook-f:hover {
  color: #0BBFBD;
}

.main .page10 .one .social-icons .fa-twitter:hover {
  color: #0BBFBD;
}

.main .page10 .one .social-icons .fa-youtube:hover {
  color: #0BBFBD;
}

.main .page10 .one .social-icons .fa-google:hover {
  color: #0BBFBD;
}

.main .page10 .one .social-icons .fa-instagram:hover {
  color: #0BBFBD;
}

.main .page10 .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  background-color: #EFEFEF;
}

.main .page10 .two .information {
  margin-left: 10px;
  width: 300px;
}

.main .page10 .two .information h1 {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #253237;
  text-transform: capitalize;
}

.main .page10 .two .information .line-l {
  margin-bottom: 20px;
  position: relative;
  height: 2px;
  width: 80%;
  background-color: #e3e3e3;
}

.main .page10 .two .information .line-l .little-o {
  height: 1px;
  width: 35%;
  background-color: #0BBFBD;
  position: absolute;
}

.main .page10 .two .information .p-text {
  line-height: 20px;
  color: #787878;
}

.main .page10 .two .information .p-text .p1 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p1:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .information .p-text .p2 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p2:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .information .p-text .p3 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p3:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .information .p-text .p4 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p4:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .information .p-text .p5 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p5:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .information .p-text .p6 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .information .p-text .p6:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links {
  width: 300px;
}

.main .page10 .two .links h1 {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #253237;
  text-transform: capitalize;
}

.main .page10 .two .links .line-l {
  position: relative;
  height: 2px;
  width: 80%;
  background-color: #e3e3e3;
}

.main .page10 .two .links .line-l .little-o {
  height: 1px;
  width: 35%;
  background-color: #0bbfbd;
  position: absolute;
}

.main .page10 .two .links .p-text {
  line-height: 20px;
  color: #787878;
}

.main .page10 .two .links .p-text .p1 {
  padding-top: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p1:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links .p-text .p2 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p2:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links .p-text .p3 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p3:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links .p-text .p4 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p4:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links .p-text .p5 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p5:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .links .p-text .p6 {
  cursor: pointer;
  font-size: 14px;
}

.main .page10 .two .links .p-text .p6:hover {
  color: #0BBFBD;
  margin-left: 10px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .page10 .two .newsletters {
  width: 600px;
}

.main .page10 .two .newsletters h1 {
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 20px;
  color: #253237;
  text-transform: capitalize;
}

.main .page10 .two .newsletters .line-l {
  position: relative;
  height: 2px;
  width: 90%;
  background-color: #e3e3e3;
}

.main .page10 .two .newsletters .line-l .little-o {
  height: 1.5px;
  width: 15%;
  background-color: #0bbfbd;
  position: absolute;
}

.main .page10 .two .newsletters p {
  line-height: 24px;
  color: #787878;
  width: 90%;
}

.main .page10 .two .newsletters .inputForm {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  width: 40px;
  width: 400px;
  height: 40px;
  border: 2px solid #253237;
  border-radius: 25px;
  color: #C0B1B6;
}

.main .page10 .two .newsletters .inputForm marg
input {
  background-color: #fff;
  margin-top: 7px;
  margin-left: 12px;
  background: none;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
}

.main .page10 .two .newsletters .inputForm .no-outline {
  border: none;
  padding-left: 10px;
  width: 100%;
  background-color: transparent;
}

.main .page10 .two .newsletters .inputForm .no-outline:focus {
  outline: none;
}

.main .page10 .two .newsletters .inputForm button {
  width: 90px;
  margin-left: 52px;
  border-radius: 0px 25px 25px 0px;
  background-color: #253237;
  border: none;
  color: #fff;
}

.main .page10 .two .newsletters .inputForm:hover {
  color: #0BBFBD;
}

.main .page10 .two .newsletters .appS {
  cursor: pointer;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .page10 .two .newsletters .appS .appStore {
  margin-right: 15px;
}
/*# sourceMappingURL=style.css.map */