@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.main{
    header{
        display: flex;
        h1{
            font-family: 'Lato', sans-serif;
            text-decoration: overline;
        }
       
        .inputForm{
            display: flex;
            margin-top: 15px;
            margin-left: 200px;
            width: 400px;
            height: 40px;
            border: 2px solid #0BBFBD;
            border-radius: 25px;
            color: #C0B1B6;

            input{
                height: 25px;
                margin-top: 7px;
                margin-left: 10px;
                border: none;
                
            }
            .no-outline{
                width: 80%;
                border: none;
            }
            .no-outline:focus{
                outline: none;
            }
            button{
                width: 80px;
                margin-left: 55px;
                border-radius: 0px 25px 25px 0px;
                background-color: #0BBFBD;
                border: none;
                color: #fff;
            }
            .fa-search{
                font-size: 18px;
            }
        }

        .callForm{
            display: flex;
            .callImg{
                margin-left: 50px;
                margin-right: 8px;
                margin-top: 16px;
            }
            .call{
                p{
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
               h5{
                   margin-top: 0px;
               } 
            }
        }

        .navBar{
            margin-left: 45px;
            margin-top: 12px;
           ul{
               display: flex;
               li{
                   list-style: none;
                   a{
                       margin-right: 23px;
                       text-decoration: none;
                       color: #000;
                   }
               }
           } 
           hr{
               margin-right: 35px;
               transform: rotate(90deg);
               height: 0px;
               width: 12px;
           }
        }
    }

    hr{
        width: 100%;
        background-color: #EBEBEB;
    }

    .lineBox{
        display: flex;
        margin-top: 20px;
        margin-bottom: 15px;
        .home{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 16px;
            margin-right: 40px;
            color: #0BBFBD;
            cursor: pointer;
            text-decoration: underline;
           
        }
        .drugs{
            position: relative;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin-right: 40px;
            cursor: pointer;

            &:hover{
               
                text-decoration: underline;
                color: #0BBFBD;
            }
            
        }
        .vitamins{
            cursor: pointer;
            position: relative;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin-right: 40px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                color: #0BBFBD;
            }      
        }
        .herbs{
            position: relative;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin-right: 40px;
            cursor: pointer;

            &:hover{
               
                text-decoration: underline;
                color: #0BBFBD;
            }
        }
        .about{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin-right: 40px;
            cursor: pointer;

            &:hover{
               
                text-decoration: underline;
                color: #0BBFBD;
            }
        }
        .contact{
            text-transform: capitalize;
            font-weight: 700;
            font-size: 15px;
            margin-right: 40px;
            cursor: pointer;

            &:hover{
               
                text-decoration: underline;
                color: #0BBFBD;
            }
        }

       .iconBar{
            margin-left: 245.5px;
            float:right;
            display: flex;
            
            .random{
                cursor: pointer;
                .fa-random{
                    margin-right: 35px;
                    font-size: 20px;
                    position: relative;
                }
                .num0{
                    font-size: 13px;
                   top: 130px;
                   margin-left: 16px;
                    text-align: center;
                    width: 1.1%;
                    background-color: #EF1E1E;
                    position: absolute;
                    color: #fff;
                    border-radius: 1rem;
                }
            }
            .heart{
                cursor: pointer;
                .fa-heart{
                    margin-right: 35px;
                     font-size: 20px;
                     position: relative;
                }
                .num00{
                    font-size: 13px;
                    top: 130px;
                    margin-left: 15px;
                    text-align: center;
                    width: 1.1%;
                    background-color: #EF1E1E;
                    position: absolute;
                    color: #fff;
                    border-radius: 1rem;
                }
            }
            .shopping{
                cursor: pointer;
                .fa-shopping-bag{
                    display: flex;
                    margin-right: 35px;
                    font-size: 20px;
                    position: relative; 
                    .sum{
                        margin-left:18px;
                        font-size: 20px;
                    }
                }
                .num000{
                    top: 130px;
                    font-size: 13px;
                    margin-left: 15px;
                    text-align: center;
                    width: 1.1%;
                    background-color: #EF1E1E;
                    position: absolute;
                    color: #fff;
                    border-radius: 1rem;
                }

                &:hover{
                    color: #0BBFBD;
                }
            }
        }
    }

   .page1{
       margin-bottom: 30px;
       .slider{
           width: 1300px;
           height: 500px;
           border-radius: 10px;
           overflow: hidden;
           .slides{
               width: 500%;
               height: 500px;
               display: flex;

               input{
                   display: none;
               }

               .slide{
                   width: 20%;
                   transition: 2s;

                   img{
                       width: 1300px;
                       height: 500px;
                   }
               }
           }
           .navigation-manual{
               position: absolute;
               width: 1300px;
               margin-top: -60px;
               display: flex;
               justify-content: center;
               .manual-btn{
                   border: 3px solid #D0D3D4;
                   padding: 5px;
                   border-radius: 10px;
                   cursor: pointer;
                   transition: 1s;
               }
               .manual-btn:not(:last-child){
                   margin-right: 40px;
               }
               .manual-btn:hover{
                   background: #D0D3D4;
               }
           }
           #radio1:checked ~.first{
               margin-left: 0;
           }
           #radio2:checked ~.first{
                margin-left: -20%;
            }
            #radio3:checked ~.first{
                margin-left: -40%;
            }
        }
    }

    .page2{
        margin-bottom: 15px;
        .content-line{
            width: 98%;
            border: 1px solid #e3e3e3;
            height: 110px;
            display: flex;
            margin-left: 5px;
            justify-content: space-between;
            border-radius: 10px;
            .shipping{
                display: flex;
                .shipping-car{
                    margin-top: 40px;
                    margin-left: 25px;
                    font-size: 35px;
                    color: #0BBFBD;
                }
                .free-shipping{
                    margin-top: 10px;
                    margin-left: 13px;
                    h5{
                        font-size: 16px;
                        margin-bottom: 3px;
                        line-height: 22px;
                        color: #253237;
                    }
                    p{
                        line-height: 20px;
                        font-size: 13px;
                        margin-top: 0px;
                        color: #666
                    }
                }
            }
            .returns{
                display: flex;
                // margin-left: 105px;
                .exchange{
                    font-size: 35px;
                    color: #0BBFBD; 
                    margin-top: 40px;
                }
                .exchange-free{
                    margin-top: 10px;
                    margin-left: 13px;
                    h5{
                        font-size: 16px;
                        margin-bottom: 3px;
                        line-height: 22px;
                        color: #253237;
                    }
                    p{
                        line-height: 20px;
                        font-size: 13px;
                        margin-top: 0px;
                        color: #666
                    }
                }
            }
            .payment{
                // margin-left: 105px;
                display: flex;
                .payment-icon{
                    margin-top: 40px;
                    font-size: 35px;
                    color: #0BBFBD;
                }
                .payment-secure{
                    margin-top: 10px;
                    margin-left: 13px;
                    h5{
                        font-size: 16px;
                        margin-bottom: 3px;
                        line-height: 22px;
                        color: #253237;
                    }
                    p{
                        line-height: 20px;
                        font-size: 13px;
                        margin-top: 0px;
                        color: #666
                    }
                }
            }
            .support{
                 margin-right: 25px;
                display: flex;
                .support-icon{
                    margin-top: 40px;
                    font-size: 35px;
                    color: #0BBFBD;
                }
                .support24{
                    margin-top: 10px;
                    margin-left: 13px;
                    h5{
                        font-size: 16px;
                        margin-bottom: 3px;
                        line-height: 22px;
                        color: #253237;
                    }
                    p{
                        line-height: 20px;
                        font-size: 13px;
                        margin-top: 0px;
                        color: #666
                    }
                }
            }
        }
    }

    .page3{
        .products{
            margin-bottom: 50px;
            h1{
                margin-top: 80px;
                margin-bottom: 15px;
            }
            .productBox{
                width: 100%;
                overflow: hidden;
                display: flex;
                .pBoxes{
                    cursor: pointer;
                    position: relative;
                    border: 1px solid #e3e3e3;
                     width: 23%;
                     opacity: 1;
                    .imgForm{
                        
                        margin-left: 30px;
                        margin-right: 28px;
                    }
                    .textForm{
                        p{
                            font-size: 12px;
                            line-height: 1;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            text-align: center;
                            color:  #999;
                            cursor: pointer;
                        }
                        p:hover{
                            color: black;
                        }
                        h1{
                            text-align: center;
                            text-transform: capitalize;
                            // margin-left:10px;
                            font-size: 20px;
                            margin-top: 0px;
                            margin-bottom: 10px;
                            font-weight: 700px;
                            line-height: 18px;
                            cursor: pointer;
                            color: #253237;
                        }
                        h1:hover{
                            color: #0BBFBD;
                        }
                        .starIcons{
                            .fas{
                                margin: 0px;
                                font-size: 11px;
                               color:  #FDD835;
                            }
                           
                       }
                       .sellingProducts{
                           margin-bottom: 20px;
                           display: flex;
                           .pLast{
                               margin-left: 55px;
                               color: #9b9b9b;
                               text-decoration: line-through;
                               margin-right: 8px;
                               font-size: 16px;
                           }
                           .pExact{
                               color: #cf2929;
                               margin-right: 8px;
                               font-size: 16px;
                           }
                           .pPrice{
                               text-align: center;
                               vertical-align: top;
                               background-color: #cf2929;
                               color: #fff;
                               font-size: 13px;
                               border-radius: 5px;
                               padding: 0 4px;
                               font-weight: 700;
                                padding-top: 3px;
                           }
                       }
                       
                    }
                    button{
                        margin-bottom: 15px;
                        margin-left: 70px;
                        padding: 8px 14px;
                        color: #fff;
                        background-color:#253237 ;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: #0BBFBD;
                    }
                    .icons-Bar{
                        position: absolute;
                        display: flex;
                        opacity: 0;
                        .heart{
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            background-color: #ECF0F1;
                            margin-right: 20px;
                            border-radius: 50%;
                            .far{
                                font-size: 20px;
                                margin-top: 6px;
                                margin-left:5px;
                            }
    
                            &:hover{
                                background-color: #000;
                                color: #fff;
                            }
                        }
                        .random{
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            background-color: #ECF0F1;
                            margin-right: 20px;
                            border-radius: 50%;
                            .fas{
                                padding-left: 6px;
                                margin-top: 6px;
                            }
    
                            &:hover{
                                background-color: #000;
                                color: #fff;
                            }
                        }
                        .search{
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            background-color: #ECF0F1;
                            margin-right: 20px;
                            border-radius: 50%;
                            .fas{
                                padding-left: 6px;
                                margin-top: 6px;
                            }
    
                            &:hover{
                                background-color: #000;
                                color: #fff;
                            }
                        }
                    }
                }   
                .pBoxes:hover .icons-Bar{
                    opacity: 1;
                }
            }
        }
    }

    .page4{
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        display: flex;
        .imgFirst{
            img:hover{
                transition: 0.5s;
                transform:scale(1.02);
            }
        }
        .imgSecond{
            img:hover{
                transition: 0.5s;
                transform: scale(1.02);
            }
        }
                
    }

    .page5{
        margin-bottom: 100px;
        .hot-best{
            display: flex;
            .hotDeals{
                width: 60%;
                margin-right: 20px;
                .textForm{
                    display: flex;
                    .icons{
                        margin-left: 550px;
                        font-size: 22px;
                        margin-top: 32px;
                        color: #253237;
                        .fa-chevron-circle-left:hover{
                            color: #0BBFBD;
                        }
                        .fa-chevron-circle-right:hover{
                            color: #0BBFBD;
                        }
                    }
                }
                .realForm{
                    border: 2px solid #0BBFBD;
                    height: 80%;
                    display: flex;
                    .ImgForm{
                        margin-left: 20px;
                    }
                   .productFrom{
                       cursor: pointer;
                       display: block;
                         p {
                             margin-top: 25px;
                               margin-left: 200px;
                              color:  #999;
                              font-size: 16px;
                              text-transform: uppercase;

                                &:hover{
                                    color: #253237;
                                }
                          }
                          h1{
                               margin-left: 80px;
                               line-height: 24px;
                               margin-bottom: 15px;
                                font-size: 20px;

                                &:hover{
                                    color: #0BBFBD;
                                }
                          }
                          .starIcons{
                            margin-left: 125px;
                            color: #FDD835;
                            line-height: 24px;
                          }
                          .sellingProducts{
                              line-height: 24px;
                              padding-bottom: 15px;
                               display: flex;
                               margin: 0;
                               .pLast{
                                   text-decoration: line-through;
                                   margin-left: 180px;
                               }
                               .pExact{
                                   color: #CF292B;
                                   margin-left: 18px;
                               }
                               .pPrice{
                                   margin-left: 18px;
                                   text-align: center;
                                    vertical-align: top;
                                    background-color: #cf2929;
                                    color: #fff;
                                    font-size: 13px;
                                    border-radius: 5px;
                                    padding: 0 4px;
                                    font-weight: 700;
                                        padding-top: 3px;
                               }
                          }
                          button{
                           margin-bottom: 15px;
                            margin-left: 210px;
                            padding: 12px 18px;
                            color: #fff;
                            background-color:#253237 ;
                            outline: none;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                          }
                          button:hover{
                            background-color: #0BBFBD;
                          }
                    }
                }
            }
            .bestSeller{
                cursor: pointer;
                width: 38%;
                .textForm{
                    display: flex;
                    .icons{
                        margin-left: 300px;
                        font-size: 22px;
                        margin-top: 32px;
                        color: #253237;
                        .fa-chevron-circle-left:hover{
                            color: #0BBFBD;
                        }
                        .fa-chevron-circle-right:hover{
                            color: #0BBFBD;
                        }
                    }
                }
                .realForm{
                    border: 1px solid #e3e3e3;
                    // height: 80%;
                   .studio{
                       padding-top: 13px;
                       display: flex;
                       .Img-Content{
                            img{
                                margin-top: 10px;
                                margin-left: 30px;
                            }
                        }
                        .textForm{
                            margin-left: 22px;
                            display: block;
                            p{
                                text-transform: uppercase;
                                font-size: 14px;
                                color: #999;
                                margin-bottom: 0px;
     
                                &:hover{
                                    color: #253237;
                                }
                            }
                            h1{
                                font-size: 14px;
                                &:hover{
                                    color: #0BBFBD;
                                }
                            }
                            .starIcons{
                                font-size: 12px;
                                color: #fdd835;
                                margin-bottom: 0px;
                                line-height: 17px;
                            }
                            .sellingProducts{
                                margin-bottom: 20px;
                                display: flex;
                                .pLast{
                                    margin-right: 10px;
                                    text-decoration: line-through;
                                    font-size: 15px;
                                }
                                .pExact{
                                    color: #cf2929;
                                    font-size: 15px;
                                }
                            }
                        }
                   }
                   hr{
                       width: 85%;    
                   }
                   .graphic{
                         padding-top: 13px;
                         display: flex;
                        .Img-Content{
                            img{
                                margin-top: 10px;
                                margin-left: 30px;
                            }
                        }
                        .textForm{
                            margin-left: 20px;
                            display: block;
                            p{
                                text-transform: uppercase;
                                font-size: 14px;
                                color: #999;
                                margin-bottom: 0px;
    
                                &:hover{
                                    color: #253237;
                                }
                            }
                            h1{
                                font-size: 14px;
                                &:hover{
                                    color: #0BBFBD;
                                }
                            }
                            .starIcons{
                                font-size: 12px;
                                color: #fdd835;
                                margin-bottom: 0px;
                                line-height: 17px;
                            }
                            .sellingProducts{
                                margin-bottom: 22px;
                                display: flex;
                                .pLast{
                                    margin-right: 10px;
                                    text-decoration: line-through;
                                    font-size: 15px;
                                }
                                .pExact{
                                    color: #cf2929;
                                    font-size: 15px;
                                }
                            }
                        }
                   }
                }
            }
        }
    }

    .page6{
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        img{
            &:hover{
                transition: 0.5s;
                transform: scale(1.02);
            }
        }
    }

    .page7{
        .products{
            margin-bottom: 50px;
            .textBlock{
                font-weight: 500;
                font-size: 28px;
                display: flex;
                .featured{
                    cursor: pointer;
                    margin-right: 20px;
                    color: #253237;
                }
                .onSale{
                    cursor: pointer;
                    margin-right: 20px;
                    color:  #A8ADAF;

                    &:hover{
                        color: #253237;
                    }
                }
                .bestSeller{
                    cursor: pointer;
                    color:  #A8ADAF;

                    &:hover{
                        color: #253237;
                    }
                }
            }
            .productBox{
                width: 100%;
                overflow: hidden;
                display: flex;
                .pBoxes{
                    border: 1px solid #e3e3e3;
                     width: 23%;
                    .imgForm{
                        
                        margin-left: 30px;
                        margin-right: 28px;
                    }
                    .textForm{
                        p{
                            font-size: 12px;
                            line-height: 1;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            text-align: center;
                            color:  #999;
                            cursor: pointer;
                        }
                        p:hover{
                            color: black;
                        }
                        h1{
                            text-align: center;
                            text-transform: capitalize;
                            // margin-left:10px;
                            font-size: 20px;
                            margin-top: 0px;
                            margin-bottom: 10px;
                            font-weight: 700px;
                            line-height: 18px;
                            cursor: pointer;
                            color: #253237;
                        }
                        h1:hover{
                            color: #0BBFBD;
                        }
                        .starIcons{
                            .fas{
                                margin: 0px;
                                font-size: 11px;
                               color:  #FDD835;
                            }
                           
                       }
                       .sellingProducts{
                           margin-bottom: 20px;
                           display: flex;
                           .pLast{
                               margin-left: 55px;
                               color: #9b9b9b;
                               text-decoration: line-through;
                               margin-right: 8px;
                               font-size: 16px;
                           }
                           .pExact{
                               color: #cf2929;
                               margin-right: 8px;
                               font-size: 16px;
                           }
                           .pPrice{
                               text-align: center;
                               vertical-align: top;
                               background-color: #cf2929;
                               color: #fff;
                               font-size: 13px;
                               border-radius: 5px;
                               padding: 0 4px;
                               font-weight: 700;
                                padding-top: 3px;
                           }
                       }
                       
                    }
                    button{
                        margin-bottom: 15px;
                        margin-left: 70px;
                        padding: 8px 14px;
                        color: #fff;
                        background-color:#253237 ;
                        outline: none;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: #0BBFBD;
                    }
                }
            }
        }
    }

    .page8{
        cursor: pointer;
        margin-bottom: 100px;
        h1{
            font-weight: 200px;
        }
        .degital-M{
            display: flex;
            .digital{
                cursor: pointer;
                margin-right: 30px;
                position: relative;
                
                .digital-block{
                    margin-left: 25px;
                    top: 155px;
                    position: absolute;
                    width: 360px;
                    height: 100px;
                    background-color: #FFFFFF;
                    
                    a{
                        cursor: pointer;
                        display: inline-block;
                        margin-top: 30px;
                        margin-left: 130px;
                        margin-bottom: 15px;
                        line-height: 1;
                        color: #B1B1B1;
                        font-size: 14px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                    a:hover{
                        color: #253237;
                    }
                    h4{
                        cursor: pointer;
                        margin-left: 50px;
                        margin-top: 0;
                        font-size: 16px;
                        color: #253237;
                        text-transform: capitalize;
                    }
                    h4:hover{
                        color: #0BBFBD;
                    }
                    button{
                        border: none;
                        width: 100%;
                        height: 50px;
                        background-color: #253237;
                        color: #fff;
                    }
                    button:hover{
                        background-color: #0BBFBD;
                    }
                }
            }
        }
    }

    .page9{
        margin-bottom: 50px;
        border: 0.5px solid #EBEBEB;
        height: 80px;
         border-radius: 5px;
        img{
            margin-top: 8px;
          margin-right: 50px;
        }
    }

    .page10{
        display: flex;
        width: 100%;
       .one{
           width: 30%;
           background-color: #F6F6F6;

           h1{
                font-family: 'Lato', sans-serif;
               margin-top: 40px;
               margin-left: 5px;
               font-weight: 700;
           }
           p{
               line-height: 24px;
               font-size: 16px;
               margin-left: 5px;
               color: #666666;
           }  
           .callForm{
               margin-bottom: 15px;
                display: flex;
                .callImg{
                    margin-top: 25px;
                    font-size: 38px;
                    margin-left: 5px;
                    margin-right: 10px;
                    color: #0BBFBE;
                   
                }
                .call{
                    p{
                        margin-top: 20px;
                        margin-bottom: 3px;
                    }
                    h5{
                        font-size: 18px;
                        margin-top: 0px;
                    } 
                }
            }

            .social-icons{
                margin-bottom: 60px;
                .fab{
                    font-size: 18px;
                    margin-left: 15px;
                    cursor: pointer;
                }
                .fa-facebook-f:hover{
                    color: #0BBFBD;
                }
                .fa-twitter:hover{
                    color: #0BBFBD;
                }
                .fa-youtube:hover{
                    color: #0BBFBD;
                }
                .fa-google:hover{
                    color: #0BBFBD;
                }
                .fa-instagram:hover{
                    color: #0BBFBD;
                }
            }
           
        }
      .two{
          display: flex;
          width: 70%;
          background-color: #EFEFEF;

          .information{
              margin-left: 10px;
              width: 300px;
             
              h1{
                  margin-top: 40px;
                  font-size: 18px;
                  margin-bottom: 20px;
                  color: #253237;
                  text-transform: capitalize;
              }
              .line-l{
                  margin-bottom: 20px;
                  position: relative;
                  height: 2px;
                  width: 80%;
                  background-color: #e3e3e3;
                  .little-o{
                      height: 1px;
                      width: 35%;
                    background-color: #0BBFBD;
                      position: absolute;
                  }
              }
              .p-text{
                  line-height: 20px     ;
                  color: #787878;
                    .p1{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p1:hover{
                        color: #0BBFBD;
                        margin-left: 10px;
                        transition: 0.1s;
                     }
                    .p2{
                        cursor: pointer;
                        font-size: 14px;
                     }
                    .p2:hover{
                    color: #0BBFBD;
                    margin-left: 10px;
                    transition: 0.1s;
                    }
                    .p3{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p3:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p4{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p4:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p5{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p5:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p6{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p6:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
              }
          }
          .links{
              width: 300px;
             
              h1{
                  margin-top: 40px;
                font-size: 18px;
                margin-bottom: 20px;
                color: #253237;
                text-transform: capitalize;
                }
                .line-l{
                    
                    position: relative;
                    height: 2px;
                    width: 80%;
                    background-color: #e3e3e3;
                    .little-o{
                        height: 1px;
                        width: 35%;
                    background-color: #0bbfbd;
                        position: absolute;
                    }
                }
                .p-text{
                    line-height: 20px;
                    color: #787878;
                    .p1{
                        padding-top: 20px;
                        margin-top: 20px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p1:hover{
                        color: #0BBFBD;
                        margin-left: 10px;
                        transition: 0.1s;
                     }
                    .p2{
                        cursor: pointer;
                        font-size: 14px;
                     }
                    .p2:hover{
                    color: #0BBFBD;
                    margin-left: 10px;
                    transition: 0.1s;
                    }
                    .p3{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p3:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p4{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p4:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p5{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p5:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
                    .p6{
                        cursor: pointer;
                        font-size: 14px;
                    }
                    .p6:hover{
                      color: #0BBFBD;
                      margin-left: 10px;
                      transition: 0.1s;
                    }
              }
          }
          .newsletters{
              width: 600px;
              
              h1{
                  margin-top: 40px;
                font-size: 18px;
                margin-bottom: 20px;
                color: #253237;
                text-transform: capitalize;
                }
                .line-l{
                    position: relative;
                    height: 2px;
                    width: 90%;
                    background-color: #e3e3e3;
                    .little-o{
                        height: 1.5px;
                        width: 15%;
                        background-color: #0bbfbd;
                        position: absolute;
                    }
                }
                p{
                    line-height: 24px;
                    color: #787878;
                    width: 90%;
                }
                .inputForm{
                    cursor: pointer;
                    display: flex;
                    margin-top: 25px;
                    width: 40px;
                    width: 400px;
                    height: 40px;
                   border: 2px solid #253237;
                    border-radius: 25px;
                    color: #C0B1B6;
                    marg

                    input{
                        background-color: #fff;
                        // height: 5px;
                        margin-top: 7px;
                        margin-left: 12px;
                        background: none;
                        border: none;
                        flex: 1;
                        outline: none;
                        
                    }
                    .no-outline{
                        border: none;
                        padding-left: 10px;
                        width: 100%;
                        background-color: transparent;
                    }
                    .no-outline:focus{
                        outline: none;
                    }
                    button{
                        width: 90px;
                        margin-left: 52px;
                        border-radius: 0px 25px 25px 0px;
                        background-color: #253237;
                        border: none;
                        color: #fff;
                    }
                }
                .inputForm:hover{
                    color: #0BBFBD;
                }
                .appS{
                    cursor: pointer;
                    margin-top: 30px;
                    display: flex;
                   .appStore{
                       margin-right: 15px;
                   }
                }
            }
        }
    }
}